<span><%= link_to abc.user.name, user_path(abc.user) %></span>
      <time><%= time_ago_in_words abc.created_at %></time>
      <span class="answer_title"><%= abc.text %></span>
      <div class="questioned">
