<div class="contents row" >
  <% @users.each do |user| %>
    <p><%= user.name %></p> <%= link_to 'フォローする', relations_path({target_id: user.id, from_id: current_user}), method: :post %>
    
  <% end %>
</div>
<%= link_to "ホームに戻る", root_path %>



