<!DOCTYPE html>
<html>
<head>
  <title>JobQuestions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>


<ul style="list-style:none;" id="menu">
<li><p class="title">JobQuestions</p></li>
<li><p class="question">質問</li>
<li><p class="profile">プロフィール</li>
</ul>

<p class="description">就活の情報収拾をもっとスマートに</p>




  </header>>
<body>





<%= yield %>



</body>






<footer>

  </footer>
</html>


